.tags {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    border-bottom: 3px solid var(--primary-color);
    font-family: var(--text-font);
  }

  a:hover {
    color: var(--hover-color);
    background-color: var(--primary-color);
  }

  a:focus,
  a:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }

  .tag-icon {
    display: inline;
    margin-right: 0.25em;
  }
}
