$bg-0: #262626;

// Dark theme needs a bigger contrast compared to the white theme.
$bg-1: lighten($bg-0, 5%);
$bg-2: lighten($bg-1, 10%);

$text-0: lighten($bg-0, 87%);
$text-1: lighten($bg-0, 60%);

:root.dark {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  /* Variant of light theme primary (#6A9AB0), tuned for dark backgrounds */
  --primary-color: #7BB6CC;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }
  
  img[src*="social_icons/"] {
    filter: invert(1);
  }
}
 
html.dark img[src*="social_icons/"] {
  filter: invert(1);
}